<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.oracle.DictMapper">
  <resultMap id="BaseResultMap" type="com.model.oracle.Dict">
    <id column="DICT_ID" jdbcType="VARCHAR" property="dictId" />
    <result column="DICT_CODE" jdbcType="VARCHAR" property="dictCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DICT_ID, DICT_CODE
  </sql>
  <select id="selectByExample" parameterType="com.model.oracle.DictExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_DICT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_DICT
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_DICT
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.oracle.DictExample">
    delete from T_DICT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.oracle.Dict">
    insert into T_DICT (DICT_ID, DICT_CODE)
    values (#{dictId,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.oracle.Dict">
    insert into T_DICT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        DICT_ID,
      </if>
      <if test="dictCode != null">
        DICT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.oracle.DictExample" resultType="java.lang.Long">
    select count(*) from T_DICT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_DICT
    <set>
      <if test="record.dictId != null">
        DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      </if>
      <if test="record.dictCode != null">
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_DICT
    set DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.oracle.Dict">
    update T_DICT
    <set>
      <if test="dictCode != null">
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
    </set>
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.oracle.Dict">
    update T_DICT
    set DICT_CODE = #{dictCode,jdbcType=VARCHAR}
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </update>
</mapper>